{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.scss' %}"/>

  <meta charset="UTF-8">
  <title>Daily UI | #001 - Sign In</title>
</head>
<body>
  	

<form action="{% url 'Registration:user_login' %}" method="post">
{% csrf_token %}
  <h2>Sign Up</h2>
		<p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="username" type="text">
		</p>
		<p>
			<label for="password" class="floatLabel">Password</label>
			<input id="password" name="password" type="password">
			<span>Enter a password longer than 8 characters</span>
		</p>
		<p>
			<input type="submit" value="Create My Account" id="submit">
		</p>
	</form>
</body>
</html>
