{% load static %}
<html>
   <link rel="stylesheet" href="{% static 'css/index.scss' %}">
<body>
<form action="registration" method="POST">
	{% csrf_token %}
<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="Username" name="username" />
			<input type="password" class="input" placeholder="Password"  name="password"/>
		</div>
		<button class="submit-btn">Sign up</button>
	</div>
</div>
</form>
</body>

	<script src="{% static 'js/index.js' %}"></script>
</html> 